header {
  height: 20em;
  width: 100%;
  padding-top: 120px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #f04c20;
  background-color: #f04c20;
  background-image: url(../images/black-linen.png);
}

h2 {
  font-size: 35px;
}
