/* STYLES FOR NEW AN POSTED TWEETS AREA */
#tweet-form {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  background-color: #f4f1ec;
}

#new-tweet-toggle {
  color: red;
  cursor: pointer;
  animation: MoveUpDown 1s linear infinite;
}

/* moving arrows up/down */
@keyframes MoveUpDown {
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-8px);
  }
}

#errors {
  position: relative;
  margin: 5px;
  top: -10px;
  color: red;
}

#tweet-text {
  display: flex;
  justify-content: center;
  resize: none;
  width: 100%;
  height: 50px;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid;
  outline: none;
  font-size: 20px;
}

#tweet-details {
  margin-top: 10px;
  font-family: "Bungee", cursive;
}

#tweet-button {
  float: left;
  background-color: #4056a1;
  color: white;
}

.counter {
  float: right;
}

.center {
  margin: auto;
  width: 85%;
}

.max-tweet {
  color: red;
}



@media (min-width: 1024px) {

  .center {
    margin-top: 5em;
  }
}