section.posted-tweet {
  flex-direction: column;
  margin-top: 50px;
}





.posted-tweet header {
  text-align: left;
  border: 4px solid;
  border-color: black;
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
  padding: 10px;

}

.posted-tweet header span {
  float: right;
  opacity: 0.6;
}

.posted-tweet article {
  border-bottom: solid black;
  padding-bottom: 10px;
}